body {
	
}




/* Gernal Content
______________________________________________________ */

.main { padding-top: 3%; }
.row { padding: 2% 0px;
	text-align: center;
}
.primary_color { background-color: #fff; }




/* Header & Navigaiton
______________________________________________________ */

header.main_nav {
	padding: 1% 0;
	display: block;

}

.logo {
	margin: 5% auto;
	text-align: center;
}

.logo a {
	font-size: 30px;
	color: #0cb020;
	border: 3px solid;
	text-transform: uppercase;
	padding: 2px 10px 0 10px;
	margin: 0;
	text-decoration: none;
}

.logo a:hover {
	background-color: #000;
	color: #fff;
	f
}

input {
	text-align: center;
}

input[type=text] {
	border: none;
}




.debug {
	border: 1px dashed black;
}

.debug.gray {
	background-color: gray;
}

@media only screen
	and (min-device-width: 375px)
	and (max-device-width: 667px)
	and (-webkit-min-device-pixel-ratio: 2) {
		.logo a {
			font-size: 25px;
			color: #dd0b0b;
		}
	}